/* homepage */
* {margin: 0;
    font-family: Tahoma;}
.header {
    box-sizing: border-box;
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 5px 15px;
}
h2{
    text-align: center;
    text-decoration: solid;
    font-weight: 800;
}
p{
    text-align: center;
    font-size: large;
}
footer{
    font-weight: 800;
}
.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
}
  
.header a.logo {
    width: 250px;
}
  
.header a:hover {
    background-color: #ddd;
    color: black;
}
  
.header-right {
    float: right;
}
nav {
    font-family: 'Roboto', sans-serif;
    width: 80%;
    margin: 0 auto;
    background: rgb(247, 239, 239);
    padding: 25px 0;
    box-shadow: 0px 5px 0px #dedede;
}
nav ul {
    list-style: none;
    text-align: center;
}
nav ul li {
    display: inline-block;
}
nav ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #aaa;
    font-weight: 800;
    text-transform: uppercase;
    margin: 0 10px;
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
    transition: all .5s;
}
nav ul li a:hover {
    color: #555;
}
nav.shift ul li a {
    position:relative;
    z-index: 1;
}
nav.shift ul li a:hover {
    color: #91640F;
}
nav.shift ul li a:after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 1px;
    content: '.';
    color: transparent;
    background: #f3da77;
    visibility: none;
    opacity: 0;
    z-index: -1;
}
nav.shift ul li a:hover:after {
    opacity: 1;
    visibility: visible;
    height: 100%;
}
.slider {
    width: 800px;
    height: 350px;
    background-color: yellow;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    text-align: center;
    overflow: hidden;
}
.image-container {
    width: 3000px;
    background-color: pink;
    height: 300px;
    clear: both;
    position: relative;
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
    transition: left 2s;
}
.slide {
    float: left;
    margin: 0px;
    padding: 0px;
    position: relative;
}
#slide-1:target ~ .image-container {
    left: 0px;
}
#slide-2:target ~ .image-container {
    left: -500px;
}
#slide-3:target ~ .image-container {
    left: -1000px;
}
  .buttons {
    position: relative;
    top: -20px;
  }
  .buttons a {
    display: inline-block;
    height: 15px;
    width: 30px;
    border-radius: 50px;
    background-color: lightgreen;
  }
.others{
    flex: 2;
    display: flex;
}
.others > li{
    padding: 0 25px;
}
.others > li:first-child{
    position: relative;
}
.others > li:first-child input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #333 ;
}
.others > li:first-child i{
    position: absolute;
    right: 10px;
}
/* product */
#no1{
    max-width: 1000px;
    margin: 0 auto;
    
}
ul.inf-item{
    list-style: none;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
ul.inf-item li{
    flex-basis: 25%;
    padding-left: 10px;
    padding-top: 10px;
    box-sizing: border-box;
    margin-bottom: 20px;
}
ul.inf-item li img{
    width:100%;
    height:auto;
}
ul.inf-item li .item-top{
    position:relative;
    overflow:hidden;

}
ul.inf-item li .item-top .item-a{
    display:block;
}
ul.inf-item li:hover .item-top .item-a{
    filter:opacity(50%);
}
ul.inf-item li .item-top .item-a img{
    display:block;
}
ul.inf-item li .item-top a.buy{
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    display:block;
    background-color:darkorchid;
    color:black;
    padding:10px 0px;
    position:absolute;
    width:100%;
    opacity:0.8;
}
ul.inf-item li:hover a.buy{
    bottom:0px;
}
ul.inf-item li .item-info a{
    display:block;
    text-decoration: none;
}
ul.inf-item li .item-info a.item-hieu{
    text-align: center;
    font-size: 20px;
    color:palevioletred;
    padding:3px ;
}
ul.inf-item li .item-info .item-money{
    text-align: center;
    color:red;
    padding:3px;
    font-weight: 700;
}
.product{
    padding: 100px 0;
}
.product-content-left{
    width: 50%;
}
.product-content-right{
    width: 50%;
}
.product-content-left-big-img{
    width: 70%;
    padding-right: 30px;
}
.product-content-left-big-img img{
    width: 100%;
}
.product-content-left-small-img{
    width: 30%;
    padding: 10px;
}
.product-content-left-small-img img{
    width: 100%;
}
.product-content-right{
    width: 50%;
    padding-left: 20px;
}
.product-content-right-product-name h1{
    font-family: var(--main-text-font);
    font-size: 20px;
}
.product-content-right-product-name p{
    color: #cccccc;
    font-size: 12px;
}
.product-content-right-product-price{
    margin: 12px 0;
    font-size: 20px;
    font-weight: bold;
    font-family: var(--main-text-font);
}
.product-content-right-product-color img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.product-content-right-product-color-img{
    height: 40px;
    width: 40px;
    border: 1px solid#333;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 12px 0;
}
.size span{
    display: inline-block;
    padding: 3px 6px;
    border: 1px solid#dddddd;
    margin: 12px 10px 12px 0;
    font-size: 12px;
    cursor: pointer;
}
.quantity{
    display: flex;
    margin-bottom: 50px;
}
.quantity input{
    width: 50px;
    padding-left: 5px;
}
.product-content-right-product-button button{
    width: 200px;
    height: 45px;
    display: block;
    margin: 30px 0 15px;
    transition: all 0.3s ease;
}
.product-content-right-product-button button:first-child{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #ffff;
    border: 2px solid black;
    cursor: pointer;
}
.product-content-right-product-button button:first-child:hover{
    background-color: black;
    color: #ffff;
}
.product-content-right-product-button button:last-child{
    border: 2px solid #bf8a49;
    color: #bf8a49;
    background-color: #ffff;
    cursor: pointer;
}
.product-content-right-product-icon{
    display: flex;
}
.product-content-right-product-icon-item{
    display: flex;
    margin-right: 15px;
    justify-content: center;
    align-items: center;
}
.product-content-right-product-icon-item i{
    font-size: 12px;
    margin-right: 6px;
}
.product-content-right-bottom{
    padding-top: 40px;
    position: relative;
}
.product-content-right-bottom-top{
    position: absolute;
    width: 30px;
    height: 30px;
    border: 1px solid #3333;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    top: 50px;
    left: 50%;
    border-radius: 50%;
}
.sportgood{
    max-width: 1000px;
    margin: 0 auto;
}
.sg-item{
    list-style: none;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.sportgood-item{
    width: calc(25% - 12px);
    padding: 12px 0;
}
.sportgood-item img{
    width: 100%;
}
.sg-item.row{
    flex-basis: 50%;
    padding-left: 10px;
    padding-top: 10px;
    box-sizing: border-box;
    margin-bottom: 20px;
}
.sg-item.row .sportgood-item{
    position:relative;
    overflow:hidden;
}
.sg-item.row .sportgood-item .sportgood-item > a{
    display:block;
}
.sg-item.row:hover .sportgood-item a{
    filter:opacity(50%);
}
.sg-item.row .sportgood-item .sportgood-item > a img{
    display:block;
}
.sg-item.row .sportgood-info > a{
    display:block;
    text-decoration: none;
   
}